{% extends "index.html" %}

{% block header %}
Category page
{% endblock %}


{% block content %}
<form action="" method="POST" class="py-3">

    <div class="form_group my-3">
        <label for="category">Loại sản phẩm</label>
        <input name="category" type="text">
    </div>

    <button type="submit">Thêm loại sản phẩm</button>
</form>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}